$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

h1 {
  text-align: center;
  font-family: 'Lily Script One', helvetica;
  font-size: 72px;
  margin-bottom: 0.5em;
  color: darken(#1F686C, 3%);
}
.gist {
  text-align: center;
  font-size: 18px;
}
p, li {
  text-align: center;
  list-style-position:inside;
}
strong {
  font-size: larger;
  font-style: italic;
}
h2 {
  font-family: 'Poiret One', helvetica;
  margin-top: 2em;
  text-align: center;
  color: #439B81;
}

